@model Platine.Database.BusinessObject.Education

<h2>Create</h2>

<form action="/Education/Add">
    <label>Start : </label>
    <div class="form-group">
        <input type="date" class="form-control" name="Start" placeholder="Start">
    </div>
    <label>End : </label>
    <div class="form-group">
        <input type="date" class="form-control" name="End" placeholder="End">
    </div>
    <label>Description : </label>
    <div class="form-group">
        <input type="text" class="form-control" name="Description" placeholder="Description">
    </div>
    <label>Mention : </label>
    <div class="form-group">
        <input type="text" class="form-control" name="Mention" placeholder="Mention">
    </div>
    <label>Deegree : </label>
    <div class="form-group">
        <input type="text" class="form-control" name="Deegree" placeholder="Deegree">
    </div>
    <label>Place : </label>
    <div class="form-group">
        <input type="text" class="form-control" name="Place" placeholder="Place">
    </div>
    <button type="submit" class="btn btn-outline-primary">Submit</button>
</form>

