@model Platine.Models.NewPasswordModel

@{
    ViewBag.Title = "EditPasswordPage";
}

<h2>EditPasswordPage</h2>
@if (ViewBag.Message != null)
{
    <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> @ViewBag.Message.
    </div>
}

<form action="/User/EditPassword">

    <div class="form-group">

        <input type="password" class="form-control" name="Password" placeholder="Enter your new Password">
    </div>
    <button type="submit" class="btn btn-outline-primary">Submit</button>
</form>

